
<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
	username:  <input type="text" name="username">
	password:  <input type="text" name="password">
	<input type="submit" name="submitss">
</body>
</html>